<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.ac.a160303105075paruluniversity.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".View.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".View.AttendanceLogActivity"
            android:label="My Attendance Log"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.ac.a160303105075paruluniversity.myapp.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.TaskActivity"
            android:label="My Tasks"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.ac.a160303105075paruluniversity.myapp.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.ApproveLeaveActivity"
            android:label="Approve Leave"
            android:parentActivityName=".View.TaskActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.ac.a160303105075paruluniversity.myapp.View.MainActivity" />
        </activity>
        <activity
            android:name=".View.MyLeavesActivity"
            android:label="My Leaves"
            android:parentActivityName=".View.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.ac.a160303105075paruluniversity.myapp.View.MainActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>